<launch>
  <arg name="map_yaml" />
  <arg name="magni_serial_port" />
  <arg name="rplidar_serial_port" />

  <node name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen">
    <param name="serial_port"         type="string" value="$(arg rplidar_serial_port)"/>
    <param name="serial_baudrate"     type="int"    value="256000"/>
    <param name="frame_id"            type="string" value="laser"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
    <param name="scan_mode"           type="string" value="Sensitivity"/>
  </node>

  <node name="laser_static_transform" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 base_link laser"/>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_yaml)" />

  <param name="ubiquity_robot_mode" type="string" value="core" />

  <include file="$(find magni_description)/launch/description.launch">
    <arg name="raspicam_mount" value="upward" />
    <arg name="sonars_installed" value="false" />
  </include>

  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostics_agg">
    <rosparam command="load" file="$(find magni_bringup)/param/diagnostics_agg.yaml" />
  </node>

  <rosparam command="load" file="$(find magni_bringup)/param/base.yaml" />
  <!-- override the "stock" magni serial_port param with our configuration -->
  <param name="ubiquity_motor/serial_port" value="$(arg magni_serial_port)" />
  <param name="ubiquity_velocity_controller/wheel_separation" value="0.31" />

  <!-- Launch the roscontrol controllers needed -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
      args="ubiquity_velocity_controller ubiquity_joint_publisher"/>
  <!-- Launch the motor node with the topic remapped to standard names -->
  <node name="motor_node" pkg="ubiquity_motor" type="motor_node">
    <remap from="/ubiquity_velocity_controller/cmd_vel" to="/cmd_vel"/>
    <remap from="/ubiquity_velocity_controller/odom" to="/odom"/>
  </node>

  <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
    <rosparam command="load" file="$(find magni_rplidar_nav)/param/costmap_common_params.yaml" ns="local_costmap" />
    <rosparam command="load" file="$(find magni_rplidar_nav)/param/costmap_common_params.yaml" ns="global_costmap" />
    <rosparam command="load" file="$(find magni_rplidar_nav)/param/local_costmap_params.yaml" />
    <rosparam command="load" file="$(find magni_rplidar_nav)/param/global_costmap_params.yaml" />
    <rosparam command="load" file="$(find magni_rplidar_nav)/param/dwa_local_planner_params.yaml"/>
    <rosparam command="load" file="$(find magni_rplidar_nav)/param/move_base_params.yaml"/>
  </node>

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <!-- Publish scans from best pose at a max of 10 Hz -->
    <param name="odom_model_type" value="diff"/>
    <param name="odom_alpha5" value="0.1"/>
    <param name="transform_tolerance" value="0.3" />  <!-- critical! -->
    <param name="gui_publish_rate" value="5.0"/>
    <param name="laser_max_beams" value="60"/>
    <param name="min_particles" value="500"/>
    <param name="max_particles" value="5000"/>
    <param name="kld_err" value="0.02"/>
    <param name="kld_z" value="0.99"/>
    <param name="odom_alpha1" value="0.2"/>
    <param name="odom_alpha2" value="0.2"/>
    <!-- translation std dev, m -->
    <param name="odom_alpha3" value="0.8"/>
    <param name="odom_alpha4" value="0.2"/>
    <param name="laser_z_hit" value="0.5"/>
    <param name="laser_z_short" value="0.05"/>
    <param name="laser_z_max" value="0.05"/>
    <param name="laser_z_rand" value="0.5"/>
    <param name="laser_sigma_hit" value="0.2"/>
    <param name="laser_lambda_short" value="0.1"/>
    <param name="laser_model_type" value="likelihood_field"/>
    <!-- <param name="laser_model_type" value="beam"/> -->
    <param name="laser_likelihood_max_dist" value="2.0"/>
    <param name="update_min_d" value="0.2"/>
    <param name="update_min_a" value="0.5"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="resample_interval" value="1"/>
    <param name="recovery_alpha_slow" value="0.0"/>
    <param name="recovery_alpha_fast" value="0.0"/>
  </node>

</launch> 
