<!--
DESCRITPION
-->


<launch>
        <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
                <param name="destination_frame" value="laser"/>
                <param name="cloud_destination_topic" value="/merged_cloud"/>
                <param name="scan_destination_topic" value="/scan"/>
                <param name="laserscan_topics" value ="/back_scan /front_scan" /> <!-- LIST OF THE LASER SCAN TOPICS TO SUBSCRIBE -->

                <param name="angle_min" value="-6.28"/>
                <param name="angle_max" value="6.28"/>
                <param name="angle_increment" value="0.0058"/>
                <param name="scan_time" value="0.0333333"/>
                <param name="range_min" value="0.3"/>
                <param name="range_max" value="50.0"/>

        </node>

<!--Commenting the tf here because rplidar has its own tf from laser to base link and laser_back to base link -->

        <!--node pkg="tf2_ros" type="static_transform_publisher" name="static_broadcaster1" args="0 0 0 3.1415 0 0 base_link laser" />
        <node pkg="tf2_ros" type="static_transform_publisher" name="static_broadcaster2" args="-0.3 0 0 0 0 0 base_link back_laser" /-->

</launch>

