ros1/src/*/
ros2/src/*/

!ros1/src/magni.repos
!ros2/src/rmf_server.repos

!ros1/src/magni_45_rplidar

*.swp
tags
.vscode
.catkin_tools

ros1/build
ros1/devel
ros1/logs
ros2/log
ros2/install
ros2/build
