<launch>
    <node name="free_fleet_client_ros1" pkg="free_fleet_client_ros1" type="free_fleet_client_ros1" output="screen">
      <param name="fleet_name" type="string" value="RoMio" />
      <param name="robot_name" value="Romio_Bot" />
      <param name="dds_domain" type="int" value="7" />
      <param name="max_dist_to_first_waypoint" type="double" value="10.0" />
      <param name="level_name" type="string" value="L1" />
      <!--param name="docking_trigger_server_name" type="string" value="/w45_bot_docking" /-->
    </node>
  </launch>
  
