<launch>
  <arg name="param_directory" value="/home/jh/Repos/magni/magni"/>

  <!-- ======== Move base ======== -->
  <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
    <rosparam command="load" file="$(arg param_directory)/param/costmap_common_params.yaml" ns="local_costmap" />
    <rosparam command="load" file="$(arg param_directory)/param/costmap_common_params.yaml" ns="global_costmap" />
    <rosparam command="load" file="$(arg param_directory)/param/local_costmap_params.yaml" />
    <rosparam command="load" file="$(arg param_directory)/param/global_costmap_params.yaml" />
    <rosparam command="load" file="$(arg param_directory)/param/move_base_params.yaml" />
    <rosparam command="load" file="$(arg param_directory)/param/dwa_local_planner_params.yaml" />
    <rosparam command="load" file="$(arg param_directory)/param/base_local_planner_params.yaml" />

    <remap from="/move_base/global_costmap/costmap" to="/move_base/global_costmap/dummy_costmap"/>
  </node>
  <!-- ======== Move base ======== -->
</launch>