[Unit]
Description=chart_magni_free_fleet_client_startup
After=network.target time-sync.target roscore.service pifi.service
Requires=roscore.service pifi.service
PartOf=roscore.service

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart= /home/ubuntu/start_free_fleet.bash
KillMode=process
ExecStop= /usr/bin/pkill -f free_fleet

[Install]
WantedBy=multi-user.target
