[Unit]
Description=chart_magni_rpi4_startup
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart= /home/ubuntu/start_device.bash
KillMode=process
ExecStop= /usr/bin/pkill roslaunch

[Install]
WantedBy=multi-user.target
